{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Admin | Bookalay{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base_admin.css' %}">
</head>
<body>
    

<!-- Top Navbar -->
<div class="navbar">
    <h2>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/home1.png' %}" width="70" height="40" alt="Bookalay Logo">
        </a>
    </h2>
    <a href="#" onclick="return confirmLogout()">Logout</a>
</div>

<div class="container">

    <!-- Sidebar -->
    <div class="sidebar">

    <a href="{% url 'admin_dashboard' %}">Dashboard</a>

    <a href="{% url 'manage_users' %}">Manage Users</a>

    <a href="{% url 'manage_books' %}">Manage Books</a>

    <a href="{% url 'book_approval' %}">Book Approval</a>

    <a href="{% url 'book_orders' %}">Book Orders</a>

    </div>

    <!-- Main content area -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    

</div>
<script>
function confirmLogout(){
    return confirm("Are you sure you want to logout?");
}
</script>

</body>
</html>